---
layout: base
title: Opinion
---

<ul class="blog-list">
    {% for post in site.posts %}
      {% if post.tag != 'hokku' %}
        <li class="blog-list__item">
          <div class="blog-list__title-wrapper">
            <a class="blog-list__link" href="{{ site.baseurl }}{{ post.url}}"> {{ post.title }}</a>
          </div>
          <div class="blog-list__date">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}January
              {% when '2' %}February
              {% when '3' %}March
              {% when '4' %}April
              {% when '5' %}May
              {% when '6' %}June
              {% when '7' %}July
              {% when '8' %}August
              {% when '9' %}September
              {% when '10' %}October
              {% when '11' %}November
              {% when '12' %}December
            {% endcase %}
            {{ post.date | date: "%Y" }}
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div style="position: relative;">
    {% if paginator.previous_page_path %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" style="position: absolute; left: 0; font-size: 18px; font-weight: bold;">Назад</a>
  {% endif %}
  {% if paginator.next_page_path %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" style="position: absolute; right: 0; font-size: 18px; font-weight: bold;">Дальше</a>
  {% endif %}
  </div>
