<header class="header">
    <nav class="header__navbar">
      <a href="{{ site.baseurl }}" class="header__link">Home</a>
      <a href="{{ site.baseurl }}/about" class="header__link">About</a>
      <a href="{{ site.baseurl }}/blog" class="header__link">Blog</a>
      <!-- <a href="" class="header__link">Todo</a>
      <a href="" class="header__link">Pictures</a> -->
      <a href="{{ site.baseurl }}/tools" class="header__link">Tools</a>
      <a href="{{ site.baseurl }}/inspiration" class="header__link">Inspiration</a>
      </nav>
  </header> 