<header class="header">
    <nav class="header__navbar">
      <a href="{{ site.baseurl }}" class="header__link">Home</a>
      <a href="{{ site.baseurl }}/about" class="header__link">About</a>
      <a href="{{ site.baseurl }}/hokku" class="header__link">Hokku</a>
      <a href="{{ site.baseurl }}/opinion" class="header__link">Opinion</a>
      <a href="{{ site.baseurl }}/tools" class="header__link">Tools</a>
      <a href="{{ site.baseurl }}/inspiration" class="header__link">Inspiration</a>
      </nav>
  </header> 