.blog-list
  list-style-type: none
  width: 50%
  margin-bottom: 20px
  &__item
    border-bottom: 1px solid pink
    padding: 20px 0
  &__link
    display: inline-block
    font-size: 32px
    margin-bottom: 5px
  &__date
    color: #fff 
  &__tag
    background: pink