---
---

.home
  display: flex
  flex-wrap: wrap
  &__titleText
    width: 40%
  &__descText
    width: 60%
  &__cards
    width: 100%
    display: flex
    justify-content: space-between

.homeCard
  width: 32%
  padding: 12px
  border-radius: 5px
  box-sizing: border-box
  background: black
  &__title
    font-size: 22px
    text-align: right
    color: white
  &__text
  &__button
    background: white
    border-radius: 5px
    padding: 4px 8px
    box-sizing: border-box
