---
layout: base
title: Blog
---

<ul class="blog-list">
    {% for post in paginator.posts %}
      <li class="blog-list__item">
        <a class="blog-list__link" href="{{ site.baseurl }}{{ post.url}}"> {{ post.title }}</a>
        <span class="blog-list__tag">{{ post.tag }}</span>
        <div class="blog-list__date">
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}January
            {% when '2' %}February
            {% when '3' %}March
            {% when '4' %}April
            {% when '5' %}May
            {% when '6' %}June
            {% when '7' %}July
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}October
            {% when '11' %}November
            {% when '12' %}December
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div style="position: relative;">
    {% if paginator.previous_page_path %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" style="position: absolute; left: 0">Назад</a>
  {% endif %}
  {% if paginator.next_page_path %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" style="position: absolute; right: 0">Дальше</a>
  {% endif %}
  </div>
