 <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartoonish</title>
    <script type="module" crossorigin src="{{ '/assets/js/cartoons/index-D5sWcl2H.js' | relative_url }}"></script>
    <link rel="stylesheet" crossorigin href="{{ '/assets/js/cartoons/index-BtMhVWdg.css' | relative_url }}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
