   <!doctype html>
   2   │ <html lang="en">
   3   │   <head>
   4   │     <meta charset="UTF-8" />
   5   │     <link rel="icon" type="image/svg+xml" href="/vite.svg" />
   6   │     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   7   │     <title>Cartoonish</title>
   8   │     <script type="module" crossorigin src="{{ '/assets/js/cartoons/index-D5sWcl2H.js' | relative_url }}"></script>
   9   │     <link rel="stylesheet" crossorigin href="{{ '/assets/js/cartoons/index-BtMhVWdg.css' | relative_url }}">
  10   │   </head>
  11   │   <body>
  12   │     <div id="app"></div>
  13   │   </body>
  14   │ </html>
