---
layout: base
---

{% if page.tag == 'hokku' %}
  <div class="hokku hokku_hide">
    <img class="hokku__image" src="{{ site.baseurl }}{{page.image}}" />
    <div class="hokku__kanji">
      <div class="hokku__kanji-symbol">切</div>
      <div class="hokku__kanji-symbol">れ</div>
      <div class="hokku__kanji-symbol">字</div>
    </div>
    <div class="hokku__column">
      <div class="hokku__text">
        {{content}}
      </div>
    </div>
  </div>
{% else %}
  <div class="post">
    {{ content }}
  </div>
{% endif %}

<script>
  const wrapper = document.querySelector('.hokku')
  const image = document.querySelector('.hokku__image')
  image.onload = () => {
    wrapper.className = image.width > image.height ? 'hokku hokku_horizontal' : 'hokku hokku_vertical'
  }
</script>